<p class="view">
<form id="search" action="/test" method="get">
  <div class="form-group">
    <!-- label class="form-label" for="product_id">Produkt ID</label -->
    <input class="form-input" type="text" id="product_id" placeholder="Produkt ID">
  </div>
  <div class="form-group">
    <!-- label class="form-label" for="article_id">Artikel ID / CommKey</label -->
    <input class="form-input" type="text" id="article_id" placeholder="Artikel ID / CommKey">
  </div>
  <hr/>
  <div class="form-group">
    <!-- label class="form-label" for="variant_id">Varianten ID</label -->
    <input class="form-input" type="text" id="variant_id" placeholder="Varianten ID">
  </div>
  <div class="form-group">
    <!-- label class="form-label" for="sku">SKU</label -->
    <input class="form-input" type="text" id="sku" placeholder="SKU">
  </div>
  <div class="form-group">
    <!-- label class="form-label" for="ean">EAN</label -->
    <input class="form-input" type="text" id="ean" placeholder="EAN">
  </div>
  <div class="form-group">
    <button class="btn btn-primary input-group-btn">Suchen</button>
    <input class="form-submit" type="submit" value="Suchen">
    <submit class="form-submit" type="submit">
  </div>
</form>
</p>
<p>
  <form action="/test" method="get">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
  </form>
</p>
